.body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin: 0;
    background-color: #f0f0f0;
  }

.card-container {
    display: flex;
    gap: 10px;
}

.card {
    width: 350px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    text-align: left;
    transition: transform 0.3s ease;
    cursor: pointer;
}

  .card:hover {
    transform: scale(1.05);
  }

  h3 {
    font-size: 14px;
    margin-bottom: 6px;
  }

  .footer {
    margin-top: 6px;
    text-align: center;
    padding: 6px;
    border-radius: 0 0 8px 8px;
  }

  .icon {
    width: 20px;
    height: 20px;
    margin-right: 4px;
  }

  #busName {
    font-size: 12px;
    font-weight: bold;
  }

  #source, #destination, #distance, #busIcon, #stopIcon {
    font-size: 10px;
  }

  .footer-bg {
    background-color: #3498db;
    color: white;
  }